<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8"> <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>earhPhoneコンソール画面</h1>
    <button class="btn" value="natsu">夏</button>
    <button class="btn" value="ame">雨</button>
    <button class="btn" value="yotei">予定</button>
    <button class="btn" value="neru">寝る</button>
    <div id="connectId"></div>
    <div id="type"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/console.js"></script>
</body>
</html>
