<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="ui-container">
   <h1>earhPhone</h1>
</div>

<div class="debug">
    <div id="connectId"></div>
    <div id="type"></div>
    <div id="hostName"><%= hostName %></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
