<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
</head>
<body>
<div class="wrapper container-fluid ui-container">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">earPhone</a>
        </div>
        </div>
    </div>
</div>

<div class="debug">
    <div id="connectId"></div>
    <div id="type"></div>
    <div id="hostName"><%= hostName %></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
