<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>音声くん</h1>
</body>
</html>
