/* Layouts
-------------------------------------------------- */
body {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	background-color: #FBEFF9;
	color: #444;
}

.navbar-inner {
	background-image: none;
    /*
	background-color: #F097E3;
	color: #FFF;
    */
}

.navbar .brand {
	text-shadow: none;
    /*
	color: #FFF;
    */
}

.breadcrumb {
    /*
	background-color: #ffe5f2;
    */
}

.wrapper {
	max-width: 970px;
	margin: 0 auto;
}

.pager {
	text-align: center;
	font-size: 12px;
}

.global-footer p {
	padding-top: 10px;
	border-top: 1px solid #F097E3;
	text-align: center;
}


/* スマホ共通
-------------------------------------------------- */
@media (max-width: 767px) {
	body {
		padding: 0;
	}

	.navbar-fixed-top {
		margin-left: 0px;
		margin-right: 0px;
	}

	.navbar .brand {
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		margin-left: 0;
		float: none;
	}

	.back-link {
		font-size: 14px;
		font-weight:bold;
	}

	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-fixed-top .navbar-inner {
		padding: 0;
	}

	.navbar-fixed-top .navbar-inner .container {
		text-align: center;
	}

	.breadcrumb {
		margin: 10px 0 0 0;
	}

	.pager {
		font-size: 12px;
	}

}

@media (min-width: 768px) and (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

/* SmartPhone Adjustment
-------------------------------------------------- */
@media (max-width: 768px) {
	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 14px;
	}

	h4 {
		font-size: 14px;
	}
}

/* ページ個別
-------------------------------------------------- */
@media (max-width: 768px) {
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg);   opacity: 0.2;}
		50%  { -webki-transform: rotate(180deg); opacity: 1.0;}
		100% { -webkit-transform: rotate(360deg); opacity: 0.2;}
	}
}

.wrapper{
	text-align: center;
    position: relative;
}

.btnWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    margin-top: -90px;
}

#start{
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 90px;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	background:linear-gradient(#f3f3f3, #e6e6e6);
	margin: 15px 0;
}
#start:after {
	display: block;
	content:"";
	position: absolute;
	top:7px;
	left:7px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	border: 3px solid #ccc;
}
#start.on:after {
	border-color: rgb(100,236,118);
}

#start.down {
    -webkit-transition: -webkit-transform 0.4s ease-in;  
    -webkit-transform: translate(0, 200px);  
}

#start.up {
    -webkit-transition: -webkit-transform 0.4s ease-out;  
    -webkit-transform: translate(0, 0);  
}

#imgWrap {
    width: 320px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

#imgWrap ul {
    display: -webkit-box;
    margin: 0;
    /*
    opacity: 0;
    */
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.550, 0.260, 0.385, 0.760);  
}

#imgWrap li {
    list-style: none;
}
