/* Layouts
-------------------------------------------------- */
body {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	color: #444;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar-inner {
	background-image: none;
    /*
	background-color: #F097E3;
	color: #FFF;
    */
}

.navbar .brand {
	text-shadow: none;
    /*
	color: #FFF;
    */
}

.breadcrumb {
    /*
	background-color: #ffe5f2;
    */
}

.wrapper {
	max-width: 970px;
	margin: 0 auto;
}

.pager {
	text-align: center;
	font-size: 12px;
}

.global-footer p {
	padding-top: 10px;
	border-top: 1px solid #F097E3;
	text-align: center;
}


/* スマホ共通
-------------------------------------------------- */
@media (max-width: 767px) {
	body {
		padding: 0;
	}

	.navbar-fixed-top {
		margin-left: 0px;
		margin-right: 0px;
	}

	.navbar .brand {
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		margin-left: 0;
		float: none;
	}

	.back-link {
		font-size: 14px;
		font-weight:bold;
	}

	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-fixed-top .navbar-inner {
		padding: 0;
	}

	.navbar-fixed-top .navbar-inner .container {
		text-align: center;
	}

	.breadcrumb {
		margin: 10px 0 0 0;
	}

	.pager {
		font-size: 12px;
	}

}

@media (min-width: 768px) and (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

/* SmartPhone Adjustment
-------------------------------------------------- */
@media (max-width: 768px) {
	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 14px;
	}

	h4 {
		font-size: 14px;
	}
}

/* ページ個別
-------------------------------------------------- */
@media (max-width: 768px) {
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg);   opacity: 0.2;}
		50%  { -webki-transform: rotate(180deg); opacity: 1.0;}
		100% { -webkit-transform: rotate(360deg); opacity: 0.2;}
	}
}

.wrapper{
	text-align: center;
    position: relative;
}

.btnWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
}

#start{
	position: relative;
	width: 131px;
	height: 131px;
    background: url(/images/button.png) no-repeat 0 0px;
    -webkit-background-size: 131px 262px;
    background-size: 131px 262px;
    border: none;
}

#start.on {
	position: relative;
	width: 131px;
	height: 131px;
    background: url(/images/button.png) no-repeat 0 -131px;
    -webkit-background-size: 131px 262px;
    background-size: 131px 262px;
    border: none;
}

/*
#start{
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 90px;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	background:linear-gradient(#f3f3f3, #e6e6e6);
	margin: 15px 0;
	outline:none;
}
#start:active {
	background:linear-gradient(to top,#e9e9e9, #d3d3d3);
	box-shadow: 0 3px 1px rgba(0, 0, 0, 0.4) inset;
	padding-top:2px;
}
#start:after {
	display: block;
	content:"";
	position: absolute;
	top:7px;
	left:7px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	border: 3px solid #ccc;
}
#start:active:after {
	top:8px;
}
#start.on:after {
	border-color: rgb(100,236,118);
}
*/

#start.down {
    -webkit-transition: -webkit-transform 0.4s ease-in;  
    -webkit-transform: translate(0, 200px);  
    transition: transform 0.4s ease-in;  
    transform: translate(0, 200px);  
}

#start.up {
    -webkit-transition: -webkit-transform 0.4s ease-out;  
    -webkit-transform: translate(0, 0);  
    transition: transform 0.4s ease-out;  
    transform: translate(0, 0);  
}

#likeBtn{
	position: fixed;
	bottom:15px;
	right:10px;
	width: 64px;
	height: 25px;
	line-height: 25px;
	padding-left:28px;
	background:url(/images/likeBtn.png) no-repeat 4px 2px/22px 40px,
		linear-gradient(#f3f3f3, #e6e6e6);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
#likeBtn:before {
	position: absolute;
	top:0;
	left:32px;
	display: block;
	content:"♪";
	width: 14px;
	height: 14px;
	font-size: 0px;
	font-weight: bold;
}
#likeBtn.on{
	background-position:4px -20px,0 0;
}
#likeBtn.on:before {
	font-size: 28px;
	transition:1s;
	transform:translate(-30px, -50px);
	-webkit-transform:translate(-30px, -50px);
	opacity:0;
}
#imgWrap {
    width: 320px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

#imgWrap ul {
    display: -webkit-box;
    display:flex;
    margin: 0;
    /*
    opacity: 0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.550, 0.260, 0.385, 0.760) ,opacity .5s ease-in;  
    transition: transform 1s cubic-bezier(0.550, 0.260, 0.385, 0.760) ,opacity .5s ease-in;  
    */
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.550, 0.260, 0.385, 0.760);  
}

#imgWrap li {
    list-style: none;
}
